<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .mb-5 {
            margin-bottom: 15px;
        }
    </style>

</head>


<body>
<div class="container" style="margin-bottom: 40px">
    <div class="row">
        <h1>Bankruptcy Prediction</h1>
        <div class="col-md-12">
            <div class="alert alert-{{ prediction_class }}">
                {{ prediction_text }}
            </div>
        </div>
        <div class="col-md-12">
            <!-- Main Input For Receiving Query to our ML -->
            <form action="{{ url_for('predict') }}" method="post" class="form-horizontal">
                {% for key, attr in features_config.items() %}
                    {% if loop.index is not divisibleby 2 %}
                        <div class="row mb-5">
                    {% endif %}
                <div class="col-md-6">
                    <label>{{ attr.label }}</label>
                    <input class="form-control" type="number" step="0.01" name="{{ key }}"
                           value="{{ features_dict[key] if features_dict else '' }}"
                           placeholder="{{ attr.label }}"/>
                </div>
                {% if loop.index is divisibleby 2 %}
                    </div>
                {% endif %}
                {% endfor %}

                <div class="mb-5">
                    <button type="submit" id="btn" class="btn btn-primary btn-block btn-large">Predict</button>
                </div>
            </form>
            <div class="mb-5">
                <form action="{{ url_for('home') }}" method="get" class="form-horizontal">
                    <button type="submit" id="btn-clear" class="btn btn-primary btn-block btn-large">Clear Values
                    </button>
                </form>
            </div>
            <div class="text-center">
                <h4>
                    <i>
                        **Missing values will be replaced with random values between the minimum and the maximum
                        value of this column in the complete dataset**
                    </i>
                </h4>
            </div>
        </div>
    </div>
</div>


<script type="application/javascript">
    $(document).ready(function () {
        function updateButtonName() {
            let empty = false;
            $('form input').each(function () {
                if ($(this).val().length === 0) {
                    empty = true;
                }
            });
            if (empty) {
                $('#btn').html("Fill all fields");
            } else {
                $('#btn').html("Predict");
            }
        }

        function disableClearButton() {
            let empty = true;
            $('form input').each(function () {
                if ($(this).val().length > 0) {
                    empty = false;
                }
            });
            if (empty) {
                $('#btn-clear').prop('disabled', true);
            } else {
                $('#btn-clear').prop('disabled', false);
            }
        }

        $('form input').keyup(() => {
                updateButtonName()
                disableClearButton()
            }
        );
        updateButtonName()
        disableClearButton()
    });
</script>
</body>
</html>